<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Career</title>
</head>
<body>
    <header>
            <a href="#" class="logo">Dev Okiks</a>

        <nav>
            <a href="../index.html">Home</a>
            <a href="introduction.html">Introduction</a>
            <a href="career.html" class="active">Career</a>
            <a href="skills.html">Skills</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
    </header>

<section class="career">
    <div class="content">
     <div class="title"><span>My Career</span></div>
     <div class="boxes">
        <div class="box">
            <div class="icon">
                <i class="fa fa-desktop"></i>
            </div>
            <div class="topic">Front-End Development</div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum atque repudiandae excepturi culpa expedita harum! Quae illum consequuntur quidem mollitia deserunt est repellendus sed dicta libero, recusandae voluptatum neque sapiente!</p>
        </div>
        <div class="box">
            <div class="icon">
                <i class="fa-brands fa-firefox-browser"></i>
            </div>
            <div class="topic">Website Design</div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum atque repudiandae excepturi culpa expedita harum! Quae illum consequuntur quidem mollitia deserunt est repellendus sed dicta libero, recusandae voluptatum neque sapiente!</p>
        </div>
        <div class="box">
            <div class="icon">
                <i class="fa-solid fa-code"></i>
            </div>
            <div class="topic">Software Development</div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum atque repudiandae excepturi culpa expedita harum! Quae illum consequuntur quidem mollitia deserunt est repellendus sed dicta libero, recusandae voluptatum neque sapiente!</p>
        </div>
        <div class="box">
            <div class="icon">
                <i class="fa-solid fa-server"></i>
            </div>
            <div class="topic">Database Management</div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum atque repudiandae excepturi culpa expedita harum! Quae illum consequuntur quidem mollitia deserunt est repellendus sed dicta libero, recusandae voluptatum neque sapiente!</p>
        </div>
        <div class="box">
            <div class="icon">
                <i class="fa-solid fa-window-maximize"></i>
            </div>
            <div class="topic">UI / UX Design</div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum atque repudiandae excepturi culpa expedita harum! Quae illum consequuntur quidem mollitia deserunt est repellendus sed dicta libero, recusandae voluptatum neque sapiente!</p>
        </div>
        <div class="box">
            <div class="icon">
                <i class="fa-solid fa-building-shield"></i>
            </div>
            <div class="topic">Cybersecurity</div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum atque repudiandae excepturi culpa expedita harum! Quae illum consequuntur quidem mollitia deserunt est repellendus sed dicta libero, recusandae voluptatum neque sapiente!</p>
        </div>
        
        </div>
     </div>

    </div>
</section>
</body>
</html>