<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Contact</title>
</head>
<body>
    <header>
            <a href="#" class="logo">Dev Okiks</a>

        <nav>
            <a href="../index.html">Home</a>
            <a href="introduction.html">Introduction</a>
            <a href="career.html">Career</a>
            <a href="skills.html" >Skills</a>
            <a href="projects.html">Projects</a>
            <a href="#" class="active">Contact</a>
    </header>

    <section class="contact">
        <div class="content">
            <div class="title">
                <span>Contact Me</span>
            </div>
            <div class="text">
                <div class="topic">Have Any Project?</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, aspernatur blanditiis quis, in quidem alias officia iusto doloremque quos deleniti commodi quisquam impedit unde totam asperiores iure! Reiciendis, quam repellendus.</p>
                <div class="button">
                    <button>Let's Chat</button>
                </div>
            </div> 
        </div>
    </section>
</body>
</html>