<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Introduction</title>
</head>
<body>
    <header>
                <a href="#" class="logo">Dev Okiks</a>

        <nav>
            <a href="../index.html">Home</a>
            <a href="#" class="active">Introduction</a>
            <a href="career.html">Career</a>
            <a href="skills.html">Skills</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <section class="introduction">
        <div class="content">
            <div class="title"><span>Introduction</span></div>
            <div class="introduction-details">
                <div class="left">
                    <img src="../assets/images/profile.png" alt="">
                </div>
                <div class="topic">Web development is My Passion</div>
                <p>
                    Hello, I'm Francis, an aspiring Information Technology student with a passion for web development and technology. I enjoy learning how websites and applications are built, and I continuously improve my skills through personal projects and hands-on practice. This portfolio showcases my journey, projects, technical skills, and experiences as I work toward becoming a skilled IT professional.
                </p>
            </div>
        </div>
    </section>
</body>
</html>