<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Projects</title>
</head>
<body>
    <header>
            <a href="#" class="logo">Dev Okiks</a>

        <nav>
            <a href="../index.html">Home</a>
            <a href="introduction.html">Introduction</a>
            <a href="career.html">Career</a>
            <a href="skills.html">Skills</a>
            <a href="#" class="active">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <section class="projects">
        <div class="content">
            <div class="title"><span>My Projects</span></div>
            <div class="projects-details">
                <div class="img-right">
                    <img src="../assets/images/Projects1.jpg" alt="">
                    <div class="imgr-topic">Smart Attendance System</div>
                    <p>A Smart Attendance System that uses QR codes to automate attendance recording and management. The system helps reduce manual work, improve accuracy, and provide a faster way of tracking student attendance while developing my skills in web development and database management.</p>
                </div>

                <div class="img-left">
                    <img src="../assets/images/Project2.jpg" alt="">
                    <div class="imgl">Student Management System</div>
                    <p>A Student Management System designed to organize and manage student information efficiently. The system allows users to store, update, and retrieve student records, helping improve data management and reducing the need for manual record keeping. This project strengthened my understanding of database management and system development.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>